{{ template "head.html" . }}
        <table style="width:50%">
            <tr>
                <td colspan="2"><h2>All Channels</h2></td>
            </tr>
            <tr>
                <td colspan="2"><a href = "/admin/dashboard/channels/add">Add new channel</a></td>
            </tr>
            <tr>
                <th>ID</th>
                <th>Name</th>
            </tr>
            {{ range .channels }}
            <tr onclick="location.href = '/admin/dashboard/channel/{{.Name}}'" style="cursor: pointer;">
                <td>{{.ID}}</td>
                <td> <a href="/admin/dashboard/channel/{{.Name}}"> {{.Name}} </a></td>
            </tr>
            {{ end }}
        </table>
        <hr>
    </body>
</html>
