<html>
    <head>
        <style>
            table, th, td   {
                border: 1px solid black;
                border-collapse: collapse;
                margin: auto;
            }
            th, td ,h1 , h3 {
                padding: 5px;
                text-align: center;    
            }
            hr{
                width: 30%;
            }
            
        </style>
    </head>
        {{ template "head.html" . }}
            <hr>
            <table style="width: 50%">
                <tr>
                    <th colspan="4">
                        <div>
                            <h2 style="display: inline;"> Release # {{.release.ID}} | </h2>
                            {{if eq .release.Active false}}
                                    <h2 style="display: inline;color: red;">inactive</h2>
                            {{end}}
                            {{if eq .release.Active true}}
                                    <h2 style="display: inline;color: blue;">active</h2>
                            {{end}}
                        </div>
                        <hr>
                        <div>
                            <form style="display: inline; margin: 0;" action="/admin/dashboard/release/{{.release.ID}}/active" method="post">
                            {{if eq .release.Active false}}
                                <input type="submit" value="Activate">
                            {{end}}
                            {{if eq .release.Active true}}
                                <input type="submit" value="Deactivate">
                            {{end}}
                            </form>
                            <button style="display: inline;" onclick="DeleteRelease()">Delete</button>
                        </div>

                    </th>
                </tr>
                {{if ne (len .rules) 0}}
                    <tr>
                        <th colspan="4">
                            Associated rules
                        </th>
                    </tr>
                {{end}}
                {{range .rules}}
                {{if ne .TimeRule.RuleID 0}}
                <tr>
                    <th> Time Rule :</th>
                    <td> Start at : {{.TimeRule.StartTime}}</td>
                    <td> End at : {{.TimeRule.EndTime}}</td>
                    <td><a href="/admin/dashboard/delete_rule/time/{{.TimeRule.RuleID}}">Delete</a></td>
                </tr>
                {{end}}
 
                {{if ne .OsRule.RuleID 0}}
                <tr>
                    <th>OS Rule:</th>
                    <td colspan="2">OS Version: {{.OsRule.OsVersion}}</td>
                    <td><a href="/admin/dashboard/delete_rule/os/{{.OsRule.RuleID}}">Delete</a></td>
                </tr>
                {{end}}
                                
                {{if ne .VersionRule.RuleID 0}}
                <tr>
                    <th>Version Rule :</th>
                    <td colspan="2">Product Version: {{.VersionRule.ProductVersion}}</td>
                    <td><a href="/admin/dashboard/delete_rule/version/{{.VersionRule.RuleID}}">Delete</a></td>
                </tr>
                {{end}}

                {{if ne .IPRule.RuleID 0}}
                <tr>
                    <th>IP Rule :</th>
                    <td colspan="2">IP Address: {{.IPRule.IP}}</td>
                    <td><a href="/admin/dashboard/delete_rule/ip/{{.IPRule.RuleID}}">Delete</a></td>
                </tr>
                {{end}}

                {{if ne .RollRule.RuleID 0}}
                <tr>
                    <th>Rolling Release Rule :</th>
                    <td colspan="2">RollingPercentage: {{.RollRule.RollingPercentage}} %</td>
                    <td><a href="/admin/dashboard/delete_rule/roll/{{.RollRule.RuleID}}">Delete</a></td>
                </tr>
                {{end}}
                {{end}}
                <tr>
                    <th colspan="4"><a href="/admin/dashboard/add_rule/{{.release.ID}}">Add new rule</a></th>
                </tr>
            </table>

            <hr>
            <form action="/admin/dashboard/edit_release/{{.release.ID}}" method="post">
                <table style="width:50%">
                    <tr>
                        <th>ID :</th>
                        <td> {{.release.ID}}</td>
                    </tr>
                    <tr>
                        <th>Channel :</th>
                    <th>
                        <select name="channel">
                            {{range .channels}}
                                    {{if eq .Name $.release.Channel}}
                                        <option selected="selected" value="{{.Name}}">{{.Name}}</option>
                                    {{end}}
                                    {{if ne .Name $.release.Channel}}
                                        <option value="{{.Name}}">{{.Name}}</option>
                                    {{end}}
                            {{end}}
                        </select>
                    </tr>
                    <tr>
                        <th>Product :</th>
                        <th> <textarea name="product" required>{{.release.Product}}</textarea></th>
                    </tr>
                    <tr>
                        <th>OS : </th>
                        <th> 
                            <input name="os" type=text list=oses value="{{.release.OS}}" required>
                            <datalist id=oses >
                                <option value ="Linux"> Linux </option>  
                                <option value = "Windows"> Windows </option>
                                <option value = "Mac"> Mac </option>
                            </datalist>
                        </th>
                    </tr>
                    <tr>
                        <th>OS Architecture : </th>
                        <th>
                            <input name="os_arch" type=text list=oses_arch value="{{.release.OsArch}}" required>
                            <datalist id=oses_arch >
                                <option value = "32"> 32 bits </option>
                                <option value ="64"> 64 bits </option>  
                            </datalist>
                        </th>
                    </tr>
                    <tr>
                        <th>OS Version : </th>
                        <th> <textarea name="os_ver" required>{{.release.OsVer}}</textarea></th>
                    </tr>
                    <tr>
                        <th>Product Version :</th>
                        <th> <textarea name="product_ver" required>{{.release.ProductVersion}}</textarea></th>
                    </tr>
                    <tr>
                        <th>Title :</th>
                        <th> <textarea name="title" required>{{.release.Title}}</textarea></th>
                    </tr>
                    <tr>
                        <th>URL :</th>
                        <th> <textarea name="url" style="width:450" required>{{.release.URL}}</textarea></th>
                    </tr>
                    <tr>
                        <th>Description :</th>
                        <th> <textarea name="desc" style="width:450;height:100" required>{{.release.Description}}</textarea></th>
                    </tr>
                    <tr>
                        <th>CreatedAt</th>
                        <td>{{.release.CreatedAt}}</td>
                    </tr>
                    <tr>
                        <th>UpdatedAt</th>
                        <td>{{.release.UpdatedAt}}</td>
                    </tr>
                    <tr>
                        <td><input type="reset"></td>
                        <td><input type="submit" value="Update"></td>
                    </tr>
                </table>
            </form>
            <script type="text/javascript">
                function GoNav(url){
                    document.location.href = url;
                }

                function DeleteRelease() {
                    if (confirm("You're going to delete the release #{{.release.ID}}") == true) {
                        var xhr = new XMLHttpRequest();
                        xhr.open('DELETE', '/admin/dashboard/release/{{.release.ID}}/delete');
                        xhr.send(null);
                        window.location.href='/admin/dashboard/releases'
                    } 
                }
            </script>
    </body>

</html>
