{{ template "head.html" . }}
            <table style="width: 50%;">
                <tr>
                    <th colspan="10"><h2>Update Requests ({{.requests_count}})</h2></th>
                </tr>
                <tr>
                    <td colspan="10">
                        <button onClick="location.href='/u/act';return false;">Act like a client</button>
                        |
                        <button onClick="window.location.reload();return false;">Refresh</button>
                    </td>
                </tr>
                <tr>
                </tr>
                <tr>
                    <td colspan="10">
                        <form style=" margin: auto;" action="/u/requests" method="get">
                                <label><input checked type='checkbox' id = "product" onclick='handleClick(this);'>Product</label>
                                <label><input checked type='checkbox' id = "channel" onclick='handleClick(this);'>Channel</label>
                                <label>
                                    <input {{if ne $.request.TimeFrom $.request.TimeTo}}checked{{end}} type='checkbox' id = "time" onclick='handleClick(this);'>Time
                                </label>
                                <label>
                                    <input {{if ne $.request.Status ""}}checked{{end}} type='checkbox' id = "status" onclick='handleClick(this);'>Status
                                </label>
                                <label>
                                    <input {{if ne $.request.OS ""}}checked{{end}} type='checkbox' id = "os" onclick='handleClick(this);' >OS
                                </label>
                                <label>
                                    <input {{if ne $.request.OsVer ""}}checked{{end}} type='checkbox' id = "os_ver" onclick='handleClick(this);'>OS Ver
                                </label>
                                <label>
                                    <input {{if ne $.request.OsArch ""}}checked{{end}} type='checkbox' id = "os_arch" onclick='handleClick(this);'>OS Arch
                                </label>
                                <br>
                                <div id = "request-product" style="margin:1;display: inline-flex;">
                                    <label>Product:</label>
                                    <input style="width: 100" type=text name=product value="{{.request.Product}}">
                                </div>
                                <div id = "request-channel" style="margin:1;display: inline-flex;">
                                    <label>Channel:</label>
                                    <select name="channel">
                                            <option value="">All</option>
                                            {{range .channels}}
                                                    {{if eq .Name $.request.Channel}} <option selected="selected" value="{{.Name}}">{{.Name}}</option> {{else}} <option value="{{.Name}}">{{.Name}}</option> {{end}}
                                            {{end}}
                                    </select>
                                </div>
                                <div id = "request-status" style="margin:1;display: none;">
                                    <label>Status:</label>
                                    <select name="status">
                                        <option value=""></option>
                                        <option {{if eq $.request.Status "true"}}selected{{end}} value="true">Accepted</option>
                                        <option {{if eq $.request.Status "false"}}selected{{end}} value="false">Refused</option>
                                    </select>
                                </div>
                                <div id = "request-os" style="margin:1;display: none;">
                                    <label>OS:</label>
                                    <input style="width: 100" type=text name=os value="{{.request.OS}}">
                                </div>
                                <div id = "request-os_ver" style="margin:1;display: none;">
                                    <label>OS Ver:</label>
                                    <input style="width: 100" type=text name=os_ver value="{{.request.OsVer}}">
                                </div>
                                <div id = "request-os_arch" style="margin:1;display: none;">
                                    <label>OS Arch:</label>
                                    <input style="width: 100" type=text name=os_arch value="{{.request.OsArch}}">
                                </div>
                                <div id = "request-time" style="margin:1;display: none;">
                                    <label>from:</label>
                                    <input  type=date name=start_time value="{{.request.TimeFrom}}">
                                    <label>to:</label>
                                    <input  type=date name=end_time value="{{.request.TimeTo}}">
                                </div>
                                <br>
                                <input style="margin: 5;" type="submit" value="view"> | 
                                <input onclick="ResetHandler()" type="button" value="reset">
                        </form>
                    </td>
                </tr>
                <tr>
                    <th>ID</th>
                    <th>Product</th>
                    <th>Channel</th>
                    <th>Status</th>
                    <th>Created</th>
                    <th>OS</th>
                    <th>OS VER</th>
                    <th>OS ARCH</th>
                    <th>VLC VER</th>
                    <th>IP</th>
                </tr>
                {{ range .requests }}
                <tr>
                    <td>{{.ID}}</td>
                    <td>{{.Product}}</td>
                    <td>{{.Channel}}</td>
                    <td>
                        {{if eq .Status true}} Passed {{end}}
                        {{if eq .Status false}} Refused {{end}}
                    </td>
                    <td>
                        {{if ne .CreatedSince.Month 0}} {{.CreatedSince.Month}} months ago {{end}}
                        {{if eq .CreatedSince.Month 0}}
                            {{if ne .CreatedSince.Day 0}} {{.CreatedSince.Day}} days ago {{end}}
                            {{if eq .CreatedSince.Day 0}} 
                                {{if ne .CreatedSince.Hour 0}} {{.CreatedSince.Hour}} hours ago {{end}}
                                {{if eq .CreatedSince.Hour 0}}
                                    {{if ne .CreatedSince.Minute 0}} {{.CreatedSince.Minute}} min ago {{end}}
                                    {{if eq .CreatedSince.Minute 0}}
                                        {{if eq .CreatedSince.Minute 0}} {{.CreatedSince.Second}} sec ago {{end}}
                                    {{end}}
                                {{end}}
                            {{end}}
                        {{end}}
                    </td>
                    <td>{{.OS}}</td>
                    <td>{{.OsVer}}</td>
                    <td>{{.OsArch}}</td>
                    <td>{{.ProductVersion}}</td>
                    <td>{{.IP}}</td>

                </tr>
                {{ end }}
            </table>
        <hr>
        <script type="text/javascript">
            var requests_ch = ["os" , "status" , "channel" , "product" , "os_ver" ,"os_arch" , "time"]
            for (i = 0; i < requests_ch.length; i++) {
                if(document.getElementById(requests_ch[i]).checked == true){
                    document.getElementById('request-'+requests_ch[i]).style.display = "inline-flex";
                }else{
                    document.getElementById('request-'+requests_ch[i]).style.display = "none";
                }
            }
            function handleClick(cb) {
                if (cb.checked){
                    document.getElementById('request-' + cb.id).style.display = "inline-flex";
                }else{
                    document.getElementById('request-' + cb.id).style.display = "none";
                }
            }
            function ResetHandler(){
                for (i = 0; i < requests_ch.length; i++) {
                    if(document.getElementById('request-' +requests_ch[i]).querySelector('input') != null){
                        document.getElementById('request-' +requests_ch[i]).querySelector('input').value = "";
                    }
                    if(document.getElementById('request-' +requests_ch[i]).querySelector('select') != null){
                            document.getElementById('request-' +requests_ch[i]).querySelector('select').value = "";
                    }
                }
                var timediv = document.getElementById('request-time').getElementsByTagName('input');
                for (var i = 0; i < timediv.length; i++) {
                    timediv[i].value = ""
                }
            }
        </script>
    </body>
</html>