<html>
    <head>
        <style>
            table, th, td {
                border: 1px solid black;
                border-collapse: collapse;
                margin: auto;

            }
            th, td , p{
                padding: 5px;
                text-align: center;    
            }
        </style>
    </head>
    <body>
            {{ template "head.html" . }}
            <hr>
            <form action="/u/act" method="post">
            <table>
                <tr>
                    <th colspan="7"><h2>Act like a client</h2></th>
                </tr>
                <tr>
                    <th>Product</th>
                    <th>Channel</th>
                    <th>OS</th>
                    <th>OS ARCH</th>
                    <th>OS VER</th>
                    <th>Product VER</th>
                    <th>IP</th>
                </tr>

                <tr>
                    <td> <input name="product" value="{{.request.Product}}" style="width:100;" required> </td>
                    <td>
                        <select name="channel">
                            {{range .channels}}
                                    <option value="{{.Name}}">{{.Name}}</option>
                            {{end}}
                        </select>
                    </td>
                    <td>
                        <input name="os" type=text list=oses value="{{.request.OS}}" style="width: 100" required>
                        <datalist id=oses >
                            <option value ="Linux"> Linux </option>  
                            <option value = "Windows"> Windows </option>
                            <option value = "Mac"> Mac </option>
                        </datalist>
                    </td>
                    <td>
                        <input name="os_arch" type=text list=oses_arch value="{{.request.OsArch}}" style="width:100;" required>
                            <datalist id=oses_arch >
                                <option value = "32"> 32 bits </option>
                                <option value ="64"> 64 bits </option>  
                            </datalist>
                    </td>
                    <td> <input name="os_ver" value="{{.request.OsVer}}" style="width:100;" required> </td>
                    <td> <input name="product_ver" value="{{.request.ProductVersion}}" style="width:100;" required> </td>
                    <td> <input name="ip" value="{{.request.IP}}" style="width:100;"> </td>
                </tr>
                <tr>
                    <td colspan="7"><input type="submit" value="Try"></td>
                </tr>
            </table>
            </form>
        <hr>
            {{if eq .release.ID 0}}
            <p>There's no release matched</p>
            {{end}}
            {{if ne .release.ID 0}}
            <p>There're a release matched</p>
            <table style="width:50%">
                    <tr>
                        <th>ID :</th>
                        <td> {{.release.ID}}</td>
                    </tr>
                    <tr>
                        <th>Channel :</th>
                        <td>{{.release.Channel}}</td>


                    </tr>
                    <tr>
                        <th>Product :</th>
                        <td>{{.release.Product}}</td>
                    </tr>
   
                    <tr>
                        <th>OS : </th>
                        <td>{{.release.OS}}</td>
                    </tr>
                    <tr>
                        <th>OS Version :</th>
                        <td>{{.release.OsVer}}</td>
                    </tr>
                    <tr>
                        <th>OS Architecture :</th>
                        <td>{{.release.OsArch}}</td>
                    </tr>
                    <tr>
                        <th>Product Version :</th>
                        <td>{{.release.ProductVersion}}</td>
                    </tr>
                    <tr>
                        <th>URL :</th>
                        <td>{{.release.URL}}</td>
                    </tr>
                    <tr>
                        <th>Title :</th>
                        <td>{{.release.Title}}</td>
                    </tr>
                    <tr>
                        <th>Description</th>
                        <td>{{.release.Description}}</td>
                    </tr>
                    <tr>
                        <th>CreatedAt</th>
                        <td>{{.release.CreatedAt}}</td>
                    </tr>
                </table>
            <hr>
            {{end}}

    </body>
</html>
