<html>
    <head>
    <title>Admin Dashboard</title>
 
    <head>
        <style>
            table, th, td {
                border: 1px solid black;
                border-collapse: collapse;
                margin: auto;
            }
            th, td ,h1 , h3{
                padding: 5px;
                text-align: center;    
            }
        </style>
    </head>

    </head>
    
    <body>
            <h1>New rule associated with release #{{.id}}</h1>    
            <form action="/admin/dashboard/new_rule/{{.id}}" method="post">
            <table style="margin: auto;">
                <tr>
                    <td colspan="2">Time Rule</td>
                </tr> 
                <tr>
                    <th>Start at: </th>
                    <th> <input type="datetime-local" name="timestart"> </th>
                </tr>
                <tr>
                    <th>End at: </th>
                    <th> <input type="datetime-local" name="timeend"> </th>
                </tr>
                <tr>
                    <td colspan="2"><input type="submit" value="Add"></td>
                </tr>  
            </table>
        </form>
        <hr>
    </body>
</html>
