<html>
    <body>
            <h1>Update Releases</h1>
            <table style="margin: auto;">
                <tr>
                    <th>ID</th>
                    <th>Product</th>
                    <th>Channel</th>
                    <th>OS</th>
                </tr>
                {{ range .releases }}
                <tr>
                    <th><a href="/admin/dashboard/release/{{ .ID }}">{{ .ID }}</a></th>
                    <th>{{.Product}}</th>
                    <th>{{.Channel}}</th>
                    <th>{{.OS}}</th>
                </tr>
                {{ end }}
            </table>
        <hr>
    </body>
</html>
