<html>
    <head>
        <style>
            table, th, td   {
                border: 1px solid black;
                border-collapse: collapse;
                margin: auto;
            }
            th, td ,h1 , h3 {
                padding: 5px;
                text-align: center;    
            }
            hr{
                width: 30%;
            }
        </style>
    </head>

    <body>
        <h1>Release #{{.id}}</h1>
            <h3>Associated rules</h3>
            <table style="width: 50%">
                <tr>
                    <th colspan="2"><a href="/admin/dashboard/add_rule/{{.id}}">Add new rule</a></th>
                </tr>
                {{if .timerule}}
                <tr>
                    <th colspan="2">Time Rules :</th>
                </tr>
                {{range .timerule}}
                <tr>
                    <td> Start at : {{.StartTime}}</td>
                    <td> End at : {{.EndTime}}</td>
                </tr>
                {{end}}
                {{end}}
                {{if .osrule}}
                <tr>
                    <th colspan="2">OS Rules :</th>
                </tr>
                {{range .osrule}}
                <tr>
                    <td>OS Version: </td>
                    <td>{{.OsVersion}}</td>
                </tr>
                {{end}}
                {{end}}
                {{if .versionrule}}
                <tr>
                    <th colspan="2">Version Rules :</th>
                </tr>
                {{range .versionrule}}
                <tr>
                    <td>Product Version: </td>
                    <td>{{.ProductVersion}}</td>
                </tr>
                {{end}}
                {{end}}
            </table>

            <hr>
            {{range .release}}
            <form action="/admin/dashboard/edit_release/{{.ID}}" method="post">
                <table style="width:50%">
                    <tr>
                        <th>ID :</th>
                        <td> {{.ID}}</td>
                    </tr>
                    <tr>
                        <th>Product :</th>
                        <th> <textarea name="product">{{.Product}}</textarea></th>
                    </tr>
                    <tr>
                        <th>Channel :</th>
                        <th> <textarea name="channel">{{.Channel}}</textarea></th>
                    </tr>   
                    <tr>
                        <th>OS : </th>
                        <th> <textarea name="os">{{.OS}}</textarea></th>
                    </tr>
                    <tr>
                        <th>OS Version :</th>
                        <th> <textarea name="os_ver">{{.OsVer}}</textarea></th>
                    </tr>
                    <tr>
                        <th>OS Architecture :</th>
                        <th> <textarea name="os_arch">{{.OsArch}}</textarea></th>
                    </tr>
                    <tr>
                        <th>Product Version :</th>
                        <th> <textarea name="vlc_ver">{{.VlcVer}}</textarea></th>
                    </tr>
                    <tr>
                        <th>URL :</th>
                        <th> <textarea name="url">{{.URL}}</textarea></th>
                    </tr>
                    <tr>
                        <th>Title :</th>
                        <th> <textarea name="title">{{.Title}}</textarea></th>
                    </tr>
                    <tr>
                        <th>Description</th>
                        <th> <textarea name="desc">{{.Description}}</textarea></th>
                    </tr>
                    <tr>
                        <th>Signature</th>
                        <th> <textarea name="sig">{{.Signature}}</textarea></th>
                    </tr>
                    <tr>
                        <th>CreatedAt</th>
                        <td>{{.CreatedAt}}</textarea></td>
                    </tr>
                    <tr>
                        <th>UpdatedAt</th>
                        <td>{{.UpdatedAt}}</textarea></td>
                    </tr>
                    <tr>
                        <td><a href="/admin/dashboard/del_release/{{.ID}}">Delete</a></td>
                        <td><input type="submit" value="Update"></td>
                    </tr>
                </table>
            </form>
            {{end}}
            <hr>
            <h3><a href="/admin/dashboard/releases">All Releases</a></h3>
    </body>

</html>
