<html>
    <head>
        <style>
            table, th, td {
                border: 1px solid black;
                border-collapse: collapse;
                margin: auto;
            }
            th, td ,h1 , h3{
                padding: 5px;
                text-align: center;    
            }
        </style>
    </head>

    <body>
            <h1>Update Releases</h1>
            <table style="width:50%">
                <tr>
                    <th>ID</th>
                    <th>Product</th>
                    <th>Channel</th>
                    <th>OS</th>
                </tr>
                {{ range .releases }}
                <tr>
                    <th><a href="/admin/dashboard/release/{{ .ID }}">{{ .ID }}</a></th>
                    <th>{{.Product}}</th>
                    <th>{{.Channel}}</th>
                    <th>{{.OS}}</th>
                </tr>
                {{ end }}
            </table>
        <hr>
    </body>
</html>
