<html>
    <body>
            <h1>Update Releases</h1>
            <table style="margin: auto;">
                <tr>
                    <th>ID</th>
                    <th>Channel</th>
                    <th>Created At</th>
                    <th>OS</th>
                    <th>OS VER</th>
                    <th>OS ARCH</th>
                    <th>VLC VER</th>
                </tr>
                {{ range $key, $value := . }}
                <tr>
                    <th>{{$value.ID}}</th>
                    <th>{{$value.Channel}}</th>
                    <th>{{$value.CreatedAt}}</th>
                    <th>{{$value.OS}}</th>
                    <th>{{$value.OsVer}}</th>
                    <th>{{$value.OsArch}}</th>
                    <th>{{$value.VlcVer}}</th>
                </tr>
                {{ end }}
            </table>
        <hr>
    </body>
</html>
