<html>
    <head>
        <style>
            table, th, td {
                border: 1px solid black;
                border-collapse: collapse;
                margin: auto;

            }
            th, td{
                padding: 5px;
                text-align: center;    
            }
        </style>
    </head>
    <body>
            {{ template "head.html" . }}
            <hr>
            <table>
                <tr>
                    <th colspan="10"><h2>Update Requests</h2></th>
                </tr>
                <tr>
                    <th>ID</th>
                    <th>Product</th>
                    <th>Channel</th>
                    <th>Status</th>
                    <th>Created At</th>
                    <th>OS</th>
                    <th>OS VER</th>
                    <th>OS ARCH</th>
                    <th>VLC VER</th>
                    <th>IP</th>
                </tr>
                {{ range .requests }}
                <tr>
                    <td>{{.ID}}</td>
                    <td>{{.Product}}</td>
                    <td>{{.Channel}}</td>
                    <td>
                        {{if eq .Status true}} Passed {{end}}
                        {{if eq .Status false}} Refused {{end}}
                    </td>
                    <td>{{.CreatedAt}}</td>
                    <td>{{.OS}}</td>
                    <td>{{.OsVer}}</td>
                    <td>{{.OsArch}}</td>
                    <td>{{.ProductVersion}}</td>
                    <td>{{.IP}}</td>

                </tr>
                {{ end }}
            </table>
        <hr>
    </body>
</html>
