<html>
    <head>
        <style>
            table, th, td {
                border: 1px solid black;
                border-collapse: collapse;
                margin: auto;

            }
            th, td{
                padding: 5px;
                text-align: center;    
            }
        </style>
    </head>
    <body>
            {{ template "head.html" . }}
            <hr>
            <table>
                <tr>
                    <th colspan="9"><h2>Update Requests</h2></th>
                </tr>
                <tr>
                    <th>ID</th>
                    <th>Product</th>
                    <th>Channel</th>
                    <th>Created At</th>
                    <th>OS</th>
                    <th>OS VER</th>
                    <th>OS ARCH</th>
                    <th>VLC VER</th>
                    <th>IP</th>
                </tr>
                {{ range .requests }}
                <tr>
                    <th>{{.ID}}</th>
                    <th>{{.Product}}</th>
                    <th>{{.Channel}}</th>
                    <th>{{.CreatedAt}}</th>
                    <th>{{.OS}}</th>
                    <th>{{.OsVer}}</th>
                    <th>{{.OsArch}}</th>
                    <th>{{.ProductVersion}}</th>
                    <th>{{.IP}}</th>
                </tr>
                {{ end }}
            </table>
        <hr>
    </body>
</html>
