<html>
    <body>
            <h1>Update Requests</h1>
            <table style="margin: auto;">
                <tr>
                    <th>ID</th>
                    <th>Channel</th>
                    <th>Created At</th>
                    <th>OS</th>
                    <th>OS VER</th>
                    <th>OS ARCH</th>
                    <th>VLC VER</th>
                    <th>IP</th>
                </tr>
                {{ range .requests }}
                <tr>
                    <th>{{.ID}}</th>
                    <th>{{.Channel}}</th>
                    <th>{{.CreatedAt}}</th>
                    <th>{{.OS}}</th>
                    <th>{{.OsVer}}</th>
                    <th>{{.OsArch}}</th>
                    <th>{{.VlcVer}}</th>
                    <th>{{.IP}}</th>
                </tr>
                {{ end }}
            </table>
        <hr>
    </body>
</html>
